In [156]:
import pandas as pd
df = pd.read_excel('Ankieta.xlsx')
del df['Unnamed: 14']
df['Ilość lat służby'] = df['Ilość lat służby'].apply(lambda x: '2 - 5' if ('2 - 5' in x) else x)

# 1. Udzial w przesluchaniu

In [157]:
df.iloc[:, 1].value_counts()

Tak    80
Nie     8
Name: Udział w przesłuchaniu, dtype: int64

In [158]:
df.groupby(['Ilość lat służby', 'Udział w przesłuchaniu'])['Udział w przesłuchaniu'].count()

Ilość lat służby  Udział w przesłuchaniu
10 - 15           Nie                        1
                  Tak                       27
2 - 5             Nie                        4
                  Tak                       10
6 - 10            Nie                        1
                  Tak                       16
Nie dotyczy       Tak                        2
Poniżej 2         Nie                        2
                  Tak                        3
Powyżej 15        Tak                       22
Name: Udział w przesłuchaniu, dtype: int64

In [159]:
df.groupby(['Płeć', 'Udział w przesłuchaniu'])['Udział w przesłuchaniu'].count()

Płeć       Udział w przesłuchaniu
Kobieta    Nie                        1
           Tak                       24
Mężczyzna  Nie                        7
           Tak                       56
Name: Udział w przesłuchaniu, dtype: int64

# 2. Kursy

In [160]:
df.iloc[:, 2].value_counts()

Nie    52
Tak    36
Name: Kursy, dtype: int64

In [161]:
df.groupby(['Ilość lat służby', 'Kursy'])['Kursy'].count()

Ilość lat służby  Kursy
10 - 15           Nie      15
                  Tak      13
2 - 5             Nie      12
                  Tak       2
6 - 10            Nie      11
                  Tak       6
Nie dotyczy       Tak       2
Poniżej 2         Nie       4
                  Tak       1
Powyżej 15        Nie      10
                  Tak      12
Name: Kursy, dtype: int64

In [162]:
df.groupby(['Wiek', 'Kursy'])['Kursy'].count()

Wiek        Kursy
18-25       Nie       5
            Tak       2
26-35       Nie      28
            Tak      14
36-45       Nie      18
            Tak      14
Powyżej 45  Nie       1
            Tak       6
Name: Kursy, dtype: int64

# 3. Umiejetnosci praktyczne

In [163]:
df.iloc[:, 3].value_counts()

Tak    87
Nie     1
Name: umiejętności praktyczne, dtype: int64

In [164]:
df.groupby(['Ilość lat służby', 'umiejętności praktyczne'])['umiejętności praktyczne'].count()
#jeden debil tyle pracuje i nic nie umie

Ilość lat służby  umiejętności praktyczne
10 - 15           Nie                         1
                  Tak                        27
2 - 5             Tak                        14
6 - 10            Tak                        17
Nie dotyczy       Tak                         2
Poniżej 2         Tak                         5
Powyżej 15        Tak                        22
Name: umiejętności praktyczne, dtype: int64

# 4. Umiejetnosci teoretyczne

In [165]:
df.iloc[:, 4].value_counts()

Tak    65
Nie    23
Name: umiejetnosci teoretyczne, dtype: int64

In [166]:
df.groupby(['Ilość lat służby', 'umiejetnosci teoretyczne'])['umiejetnosci teoretyczne'].count()

Ilość lat służby  umiejetnosci teoretyczne
10 - 15           Nie                         10
                  Tak                         18
2 - 5             Nie                          2
                  Tak                         12
6 - 10            Nie                          5
                  Tak                         12
Nie dotyczy       Nie                          1
                  Tak                          1
Poniżej 2         Nie                          1
                  Tak                          4
Powyżej 15        Nie                          4
                  Tak                         18
Name: umiejetnosci teoretyczne, dtype: int64

In [167]:
df.groupby(['Kursy', 'umiejetnosci teoretyczne'])['umiejetnosci teoretyczne'].count()

Kursy  umiejetnosci teoretyczne
Nie    Nie                         13
       Tak                         39
Tak    Nie                         10
       Tak                         26
Name: umiejetnosci teoretyczne, dtype: int64

# 5. Stosowanie przemocy

In [168]:
df.iloc[:, 5].value_counts()

W uzasadnionych przypadkach    57
Nie                            29
Tak                             2
Name: stos. Przemocy, dtype: int64

In [169]:
df.groupby(['Ilość lat służby', 'stos. Przemocy'])['stos. Przemocy'].count()

Ilość lat służby  stos. Przemocy
10 - 15           Nie                             6
                  Tak                             2
                  W uzasadnionych przypadkach    20
2 - 5             Nie                             3
                  W uzasadnionych przypadkach    11
6 - 10            Nie                             7
                  W uzasadnionych przypadkach    10
Nie dotyczy       W uzasadnionych przypadkach     2
Poniżej 2         Nie                             1
                  W uzasadnionych przypadkach     4
Powyżej 15        Nie                            12
                  W uzasadnionych przypadkach    10
Name: stos. Przemocy, dtype: int64

# 6. Wywieranie presji

In [170]:
df.iloc[:, 6].value_counts()

Tak     36
Może    35
Nie     17
Name: wywieranie presji, dtype: int64

In [171]:
df.groupby(['Ilość lat służby', 'wywieranie presji'])['wywieranie presji'].count()

Ilość lat służby  wywieranie presji
10 - 15           Może                 12
                  Nie                   2
                  Tak                  14
2 - 5             Może                  6
                  Nie                   2
                  Tak                   6
6 - 10            Może                  5
                  Nie                   4
                  Tak                   8
Nie dotyczy       Nie                   1
                  Tak                   1
Poniżej 2         Może                  3
                  Nie                   1
                  Tak                   1
Powyżej 15        Może                  9
                  Nie                   7
                  Tak                   6
Name: wywieranie presji, dtype: int64

In [172]:
df.groupby(['wywieranie presji', 'stos. Przemocy'])['stos. Przemocy'].count()

wywieranie presji  stos. Przemocy
Może               Nie                             5
                   W uzasadnionych przypadkach    30
Nie                Nie                            13
                   W uzasadnionych przypadkach     4
Tak                Nie                            11
                   Tak                             2
                   W uzasadnionych przypadkach    23
Name: stos. Przemocy, dtype: int64

# 7. Podejrzani klamia

In [173]:
df.iloc[:, 7].value_counts()

Tak     63
Nie     21
Może     4
Name: wiekszosc podejrzanych kłamie, dtype: int64

In [174]:
df.groupby(['Ilość lat służby', 'wiekszosc podejrzanych kłamie'])['wiekszosc podejrzanych kłamie'].count()

Ilość lat służby  wiekszosc podejrzanych kłamie
10 - 15           Może                              2
                  Nie                               4
                  Tak                              22
2 - 5             Może                              1
                  Nie                               3
                  Tak                              10
6 - 10            Nie                               1
                  Tak                              16
Nie dotyczy       Nie                               1
                  Tak                               1
Poniżej 2         Nie                               2
                  Tak                               3
Powyżej 15        Może                              1
                  Nie                              10
                  Tak                              11
Name: wiekszosc podejrzanych kłamie, dtype: int64

In [175]:
df.groupby(['wiekszosc podejrzanych kłamie', 'stos. Przemocy'])['stos. Przemocy'].count()

wiekszosc podejrzanych kłamie  stos. Przemocy
Może                           Nie                             1
                               W uzasadnionych przypadkach     3
Nie                            Nie                             7
                               W uzasadnionych przypadkach    14
Tak                            Nie                            21
                               Tak                             2
                               W uzasadnionych przypadkach    40
Name: stos. Przemocy, dtype: int64

In [176]:
df.groupby(['wiekszosc podejrzanych kłamie', 'wywieranie presji'])['wywieranie presji'].count()

wiekszosc podejrzanych kłamie  wywieranie presji
Może                           Może                  2
                               Nie                   1
                               Tak                   1
Nie                            Może                  6
                               Nie                   8
                               Tak                   7
Tak                            Może                 27
                               Nie                   8
                               Tak                  28
Name: wywieranie presji, dtype: int64

In [177]:
##########################
def filler(x, r, b1='qwerty', b2='qqqq', b3='wwww', b4='aaaa'):
    if x in str(r).lower() or b1 in str(r).lower() or b2 in str(r).lower() or b3 in str(r).lower() or b4 in str(r).lower():
        return 1
    return 0

cechy = {'cierpliwosc': [], 'skrupulatnosc': [], 'stanowczosc': [], 'sluchanie': [], 'obserwacja': [],
        'inteligencja': [], 'pewnosc siebie': []}
for row in df.iloc[:, 8]:
    cechy['cierpliwosc'].append(filler('cierp', row, 'spokoj', 'spokój', 'opan', 'empat'))
    cechy['skrupulatnosc'].append(filler('skrup', row, 'anal', 'zaang', 'wnikl', 'dociekl'))
    cechy['stanowczosc'].append(filler('stan', row, 'asert', 'syan', 'zezna'))
    cechy['sluchanie'].append(filler('sluch', row, 'słuch'))
    cechy['obserwacja'].append(filler('obser', row, 'fakt', 'łącz', 'lacz', 'spostrz'))
    cechy['inteligencja'].append(filler('inteli', row, 'bystr', 'spryt', 'zmysl', 'rozs'))
    cechy['pewnosc siebie'].append(filler('pewn', row, 'siebie'))
df['cierpliwosc'] = cechy['cierpliwosc']
df['skrupulatnosc'] = cechy['skrupulatnosc']
df['stanowczosc'] = cechy['stanowczosc']
df['sluchanie'] = cechy['sluchanie']
df['obserwacja'] = cechy['obserwacja']
df['inteligencja'] = cechy['inteligencja']
df['pewnosc siebie'] = cechy['pewnosc siebie']

# 8. Cechy

In [178]:
df.iloc[:, 14:21].sum().sort_values(ascending=False)
# + ciekawsze odpowiedzi:
#Spokój, opanowanie i wiedza merytoryczna z zakresu KK I KPK
#Dedukcja (wyłapywanie kłamstw podejrzanego i dostosowywanie szachujących pytań)
#Zwięzłe formułowanie zeznań.  Umiejętność wyciągnięcia ze świadka tego co potrzebne. Strofowanie świadka gdy 
#schodzi na zbędne poboczne tematy.

cierpliwosc       31
skrupulatnosc     14
inteligencja      11
sluchanie         11
stanowczosc       11
obserwacja         9
pewnosc siebie     5
dtype: int64

In [179]:
df.iloc[:, 14:21].groupby(df['Ilość lat służby']).sum()

,cierpliwosc,skrupulatnosc,stanowczosc,sluchanie,obserwacja,inteligencja,pewnosc siebie
Ilość lat służby,,,,,,,
10 - 15,10,7,4,3,3,3,0
2 - 5,2,1,4,3,2,1,2
6 - 10,7,3,0,2,3,3,1
Nie dotyczy,0,1,0,0,0,0,0
Poniżej 2,1,0,0,0,0,0,1
Powyżej 15,11,2,3,3,1,4,1

In [180]:
df.iloc[:, 14:21].groupby(df['Wiek']).sum()

,cierpliwosc,skrupulatnosc,stanowczosc,sluchanie,obserwacja,inteligencja,pewnosc siebie
Wiek,,,,,,,
18-25,1,0,2,2,1,0,2
26-35,15,8,4,4,4,5,2
36-45,13,6,5,3,3,6,1
Powyżej 45,2,0,0,2,1,0,0

In [181]:
df.iloc[:, 14:21].groupby(df['Płeć']).sum()

,cierpliwosc,skrupulatnosc,stanowczosc,sluchanie,obserwacja,inteligencja,pewnosc siebie
Płeć,,,,,,,
Kobieta,13,7,4,2,2,3,0
Mężczyzna,18,7,7,9,7,8,5

In [182]:
df.iloc[:, 14:21].groupby(df['wywieranie presji']).sum()

,cierpliwosc,skrupulatnosc,stanowczosc,sluchanie,obserwacja,inteligencja,pewnosc siebie
wywieranie presji,,,,,,,
Może,12,6,7,3,4,3,3
Nie,10,3,1,4,2,1,0
Tak,9,5,3,4,3,7,2

In [183]:
df.iloc[:, 14:21].groupby(df['Kursy']).sum()

,cierpliwosc,skrupulatnosc,stanowczosc,sluchanie,obserwacja,inteligencja,pewnosc siebie
Kursy,,,,,,,
Nie,16,8,5,5,7,7,3
Tak,15,6,6,6,2,4,2

In [184]:
###########
techniki = {'fbi': [], 'duzo pytan': [], 'podstep': [], 'nie znam': []}
for row in df.iloc[:, 9]:
    techniki['fbi'].append(filler('fbi', row))
    techniki['duzo pytan'].append(filler('grad', row, 'pytań', 'pytan'))
    techniki['podstep'].append(filler('dobry', row, 'podstep', 'podstęp'))
    techniki['nie znam'].append(filler('nan', row, 'zadne', 'żadne', 'nie znam'))
df['fbi'] = techniki['fbi']
df['duzo pytan'] = techniki['duzo pytan']
df['podstep g/b cop'] = techniki['podstep']
df['nie znam'] = techniki['nie znam']

# 9 Przesluchania
#### odpowiedzi na jedno i drugie pytanie o przesluchania sa w zasadzie takie same, wiec nic ciekawego sie z tego nie wyciagnie

In [185]:
df.iloc[:, 21:].sum().sort_values(ascending=False)
# + ciekawsze odpowiedzi:
#Metoda Baldwina, Metoda Buckleya, tzn. hammering czy łagodny doping
#Cognitive interview, przesluchanie standartowe, przesluchanie FBI z wyłapywaniem mowy ciała
#Nie mam wiedzy, zrobili mnie dochodzeniowej i teraz radź sobie sam
#wpierdol

nie znam           44
fbi                17
duzo pytan          8
podstep g/b cop     4
dtype: int64

In [186]:
df.iloc[:, 21:].groupby(df['Ilość lat służby']).sum()

                  fbi  duzo pytan  podstep g/b cop  nie znam
Ilość lat służby
10 - 15             8           2                1        11
2 - 5               3           2                1         7
6 - 10              2           2                1        12
Nie dotyczy         0           0                0         0
Poniżej 2           0           0                0         3
Powyżej 15          4           2                1        11

In [187]:
df.iloc[:, 21:].groupby(df['Kursy']).sum()

       fbi  duzo pytan  podstep g/b cop  nie znam
Kursy
Nie      9           3                1        31
Tak      8           5                3        13

In [188]:
df.iloc[:, 21:].groupby(df['Udział w przesłuchaniu']).sum()

                        fbi  duzo pytan  podstep g/b cop  nie znam
Udział w przesłuchaniu
Nie                       0           0                0         5
Tak                      17           8                4        39

In [189]:
df.iloc[:, 21:].groupby(df['umiejetnosci teoretyczne']).sum()

                          fbi  duzo pytan  podstep g/b cop  nie znam
umiejetnosci teoretyczne
Nie                         4           1                3        12
Tak                        13           7                1        32

In [190]:
df.iloc[:, 21:].groupby(df['stos. Przemocy']).sum()

                             fbi  duzo pytan  podstep g/b cop  nie znam
stos. Przemocy
Nie                            6           5                1        15
Tak                            0           0                0         1
W uzasadnionych przypadkach   11           3                3        28

In [191]:
df.iloc[:, 21:].groupby(df['wywieranie presji']).sum()

                   fbi  duzo pytan  podstep g/b cop  nie znam
wywieranie presji
Może                 8           3                4        15
Nie                  4           2                0         6
Tak                  5           3                0        23

In [192]:
df.iloc[:, 21:].groupby(df['wiekszosc podejrzanych kłamie']).sum()

                               fbi  duzo pytan  podstep g/b cop  nie znam
wiekszosc podejrzanych kłamie
Może                             2           0                0         0
Nie                              2           2                0         7
Tak                             13           6                4        37

# 10. Dane demograficzne

In [193]:
# 88 ankietowanych
# wykresy i ew przeliczenia na %% to juz sobie poradzisz
df.Płeć.value_counts()

Mężczyzna    63
Kobieta      25
Name: Płeć, dtype: int64

In [194]:
df.Wiek.value_counts()

26-35         42
36-45         32
18-25          7
Powyżej 45     7
Name: Wiek, dtype: int64

In [196]:
df['Ilość lat służby'].value_counts()

10 - 15        28
Powyżej 15     22
6 - 10         17
2 - 5          14
Poniżej 2       5
Nie dotyczy     2
Name: Ilość lat służby, dtype: int64